*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    position: fixed;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: darkgreen;  
    border: solid rgba(0, 0, 0, 0.245) 2px;  
}
.leftSide {
    display: flex;
    align-items: center;
}
.leftSide img {
    max-height: 8rem;
    width: auto;
    border-radius: 50%;
    padding: 1rem;    
}
.leftSide h1 {
    font-size: 4rem;
}
.rightSide {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-right: 2rem;
}
.rightSide a {
    font-size: larger;
    color: black;
    text-decoration: none;
    border: solid 2px;
    border-radius: 4px;
    padding: 2px;
}
.rightSide button {
    background-color: rgba(240, 248, 255, 0);
    border: none;
}
.rightSide img {
    height: auto;
    max-width: 2rem;
    cursor: pointer;
}
.middleSections {
    padding-top: 15rem;
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    margin-right: 4rem;
    gap: 3rem;
}
.contentSection {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid rgba(0, 0, 0, 0.432) 2px;
    border-radius:1rem;
}
.leftSection img {
    height: auto;
    max-width: 30rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.rightSection {
    text-align: center;
}
.lineBreak {
    border-top: solid 3px rgba(0, 0, 0, 0.575);   
}
.testimonialGrid {
    display: grid;
    justify-content: center;
    grid-gap: 2rem;
    grid-template-areas: 
    "one two three four five"
    "six seven eight nine ten"
    
}
.object1 {
    grid-area: three;
    text-align: center;
    border-bottom: solid black 1px;
}
.object2 {
    grid-area: seven;
}
.object3 {
    grid-area: eight;
}
.object4 {
    grid-area: nine;
}
.signUp {
    display: flex;
    justify-content: center;
}
.signUp button {
    justify-self: center;
    padding: 1rem;
    border-radius: 50px;
    background-color: darkgreen;
    border: solid rgba(0, 0, 0, 0.264);
    cursor: pointer;
    font-size: 20px;
    color: white;
}
.profileSections{
    display: flex;
    flex-direction: column;
}
.topPart{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.topPart img {
    height: auto;
    max-width: 4rem;
    border-radius: 100%;
}
.footer {
    background-color: rgba(128, 128, 128, 0.46);
    margin-top: 4rem;
}
.grid{
    display: grid;
    padding-top: 4rem;
    padding-left: 2rem;
    grid-template-areas: 
    "one two three four"
    "five six seven eight"
    "nine ten eleven twelve"
    "thirteen fourteen fifteen sixteen";
}
.footerObject1{
    grid-area: one;
}
.footerObject2{
    grid-area: five;
}
.footerObject3{
    grid-area: nine;
}
.footerObject4{
    grid-area: three;
    cursor: pointer;
}
.footerObject5{
    grid-area: seven;
    cursor: pointer;
}
.footerObject6{
    grid-area: eleven;
    cursor: pointer;
}
.footerObject7{
    grid-area: sixteen;
}
@media (max-width: 1400px) {
    .contentSection {
        display: flex;
        flex-direction: column;
    
    }
    .leftSection {
        justify-content: center;
    }
    .leftSection img {
        justify-self: center;
        height: auto;
        max-width: 22rem;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
    .leftSide img {
        height: 7rem;
    }
}
.bigContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    
}
.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid rgba(0, 128, 0, 0.534) 3px;
    border-radius: 1rem;
    padding: 5%;
    background-color: rgba(36, 34, 34, 0.388);
}
.loginStuff {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
@media (max-width: 600px) {
    .loginStuff {
        flex-direction: column;
    }
}


